.about-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.about-list__item {
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.about-list__thumb {
  height: 120px;
  background-color: var(--secong-background-color);
  margin-bottom: 30px;
  @include centeredflex();
}

.about-list__icon {
  width: 70px;
  height: 70px;
}

.about-list__title {
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.about-list__text {
  font-family: inherit;
  line-height: 1.71;
  text-align: left;
}
