.footer {
  background-color: var(--main-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__address {
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }
}

.footer__social {
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.footer__subscribe {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-top: 60px;
  }
}
