.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  min-height: 59px;
  display: flex;

  @media screen and (min-width: 768px) {
    min-height: 79px;
    // display: flex;
    // align-items: center;
  }
}
