.logo {
  font-family: Raleway, sans-serif;
  @include font(700, 24px, 1.17);
  color: var(--accent-color);
}

.header-logo {
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}

.header-logo__span {
  color: var(--second-text-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo__span {
  color: var(--third-text-color);
}
