.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--padding-work {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}

.section--bcg-team {
  background-color: var(--secong-background-color);
}
