.section {
  padding-top: 60px;
  padding-bottom: 60px;

  // padding-top: 94px;
  // padding-bottom: 94px;
}

// .section--padding-work {
//   padding-top: 0;
// }

.section--bcg-team {
  background-color: var(--secong-background-color);
}
