@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin centeredflex($type: flex, $justify: center, $align: center) {
  display: $type;
  justify-content: $justify;
  align-items: $align;
}

@mixin backgroundimg($back-rep: no-repeat, $back-pos: center, $back-sz: cover) {
  background-repeat: $back-rep;
  background-position: $back-pos;
  background-size: $back-sz;
}
